
/*
  Styles for the homepage header
*/
.header {
    position: relative;
      
    width: 100vw;
    height: 100vh;
  
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
  
    &--covered {
  
        display: block;
  
    }
  
    .blue-angled-divider {
      position: relative;
      width: 101vw;
      margin-bottom: -3px;
    //   width: 150vw;
  
    //   left: 6vw;
    //   margin-top: -20vh;
    //   transform: scaleX(-1);
  
    //   img {
    //     width: 111%;
    //   }
    }
  
    &__content-background {
      background-color: $color-blue;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    &__content-higher {
        position: relative;
        top: -200px;
    }
  
    &__background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom right;
      background-color: #2033775D;

      &--small {

      }
    }


  
    &__background-color {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: #2033775D;
    }
  
    &__heading {
      padding: 0;
      margin: 0;
      position: relative;
      z-index: 1;
      font-weight: 600;
      color: white;
      font-size: 22px;
      letter-spacing: 3px;
      text-transform: uppercase;
  
      &--home {
        font-size: 99px;
        font-weight: 400;
      }
    }
  
    &__content {
      padding: 0;
      margin: 0;
      position: relative;
      z-index: 1;
      font-size: 30px;
      line-height: 1.4;
      font-weight: 400;
      color: white;
      font-family: $font-montserrat;
    }
  }

  @media screen and (max-width: 1350px) {
    .header {
        &__content-higher {
            top: -150px;
        }
    }
  }

  @media screen and (max-width: 1250px) {
    .header {
        &__content-higher {
            top: -100px;
        }
    }
  }
  
  @media screen and (max-width: 1000px) {
      .header {
          &__heading--home {
              font-size: 75px;
          }

        //   &__heading {

        //   }

          &__content {
              font-size: 25px;
          }
          &__content-higher {
              top: -25px;
          }
      }
  }
  
  @media screen and (max-width: 767px) {
      .header {
          &__heading--home {
              font-size: 9vw !important;
              opacity: 1 !important;
              transform: none !important;
              width: 200px;
          }

          .header__content {
              font-size: 23px;
          }
          &__content-higher {
              top: 0;
              padding-top: 50px;
          }
      }
  }
  
  @media screen and (max-width: 550px) {
      .header {
        height: 70vh;

        //   &__heading--home {
        //     //   font-size: 40px;
        //   }

        &__heading {
            font-size: 20px;
        }

        .header__content p {
            font-size: 18px;
        }
        &__content-higher {
            top: 0;
        }
      }
  }
  
  @media screen and (max-width: 380px) {
      .header {
        height: 70vh;

        //   &__heading--home {
        //     //   font-size: 36px;
        //   }

          &__content {
              font-size: 23px;
          }
      }
  }