
.homepage__testimonials {
    width: 100vw;
    height: 95vh;
    padding-top: 80px;
    position: relative;
  }
  
  .testimonials {
    &__background {
      width: 100%;
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  
    .blue-angled-divider {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
    }
  
    &__testimonial {
      margin: 0 20px;
    }
  
    &__item {
      background-color: rgba($color-black, 0.8);
      margin: 0 100px 100px;
      padding: 100px 50px;
      position: relative;
      z-index: 2;
    }
  
    &__item-content {
      font-size: 26px;
      color: white;
      padding: 0;
      margin: 0;
      line-height: 1.6;
      padding-bottom: 70px;
    }
  
    &__item-cite {
      font-size: 21px;
      color: $color-light-blue;
      padding-bottom: 0;
    }
  
  }
 
  @media screen and (max-width: 1200px) {
      .testimonials {
          &__item-content {
              font-size: 22px;
          }
          &__item-site {
              font-size: 19px;
          }
      }
  }