
.navigation {
    width: 100%;
    max-width: 1920px;
    height: 80px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    font-size: 17px;
  
    &__background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-blue;
      z-index: -1;
    }

    .active-background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-blue;
        z-index: -1;
    }
  
    &__container {
      width: 100%;
      height: 100%;
      padding: 0 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__logo {
      height: 40px;
  
      img {
        height: 100%;
        max-width: 100%;
        display: inline-block;
      }
    }

    .main_navigation {
        display: flex;
        align-items: center;
    }
    
    .menu-item {
      display: inline-block;
      position: relative;
    }
    
    .menu-item a {
      padding: 12px 39px;
      text-align: center;
      display: inline-block;
      color: #fff; 
      text-decoration: none;
    }

    
    .menu-item-147 {
      border: 1px solid white;
    }

    .menu-item-has-children {
        
    }
  
    .menu-item:hover {
      .sub-menu {
        transform: translateY(0);
        opacity: 1;
      }
    }
  
    .sub-menu {
      position: absolute;
      left: 21px;
      padding-top: 23px;
      top: 100%;
      width: 100%;
      background-color: $color-blue;
      padding: 0;
      margin: 0;
      z-index: 0;
  
      transition: opacity 500ms;
  
      transform: translateY(-150%);
      opacity: 0;
  
      a {
        padding-left: 15px;
      }
    }
  }

  .nav-burger, .navigation__mobile {
      display: none;
  }

  .nav-burger {
      width: 35px;
    //   height: 20px;
      position: relative;

      &__second {
          margin: 10px 0;
      }

      div {
        width: 100%;
        height: 2px;
        background-color: white;
        transition: transform 200ms;
        border-radius: 1px;
      }

      &__last {
          width: 30px !important;
          margin-left: 5px;
      }
  }

  @media screen and (max-width: 1200px) {
      .navigation {
          font-size: 15px;

          .menu-item a {
            padding: 12px 45px;
          }

          .sub-menu {
              left: 30px;
              a {
                  padding-left: 15px;
              }
          }
      }
  }

  @media screen and (max-width: 850px) {
      .navigation {
          font-size: 15px;

          .menu-item a {
            padding: 12px 35px;
          }

          .sub-menu {
              left: 20px;
              a {
                  padding-left: 15px;
              }
          }
      }
  }

  @media screen and (max-width: 768px) {
      .navigation {

          .nav-burger {
            display: block;
            position: relative;
            z-index: 1000000;
          }

          .nav-burger.active {
              .nav-burger__second {
                  display: none;
              }
              .nav-burger__first {
                  transform: rotate(45deg);
                  width: 35px;
                  transform-origin: center center;
                  position: relative;
                  top: 1px;
              }
              .nav-burger__last {
                  transform: rotate(-45deg);
                  position: relative;
                  bottom: 1px;
                  width: 34px !important;
                  transform-origin: center center;
                  margin-left: 0;
              }
          }

          &__logo {
              height: 30px;
          }
          
          &__menu {
              position: fixed;
              top: 0;
              bottom: 0;
              left: 0;
              width: 100vw;
              height: 100vh;
              background-color: rgba(white, .9);
              transform: translateX(100%);
              transition: all 500ms;
              z-index: 100000;
          }

          &__menu.active {
              transform: translateY(0);
          }
          
          &__mobile-container {
              width: 85vw;
              height: 100vh;
              position: absolute;
              top: 0;
              right: 0;
              bottom:0;
              background-color: $color-blue;
              padding-left: 25px;
              padding-right: 25px;
              padding-top: 50px;
          }

        //   .main-navigation {
        //       justify-content: flex-start;
        //   }

            .menu-item {
                display: block;
                width: 100%;
            }

            .menu-item-147 {
                border: 1px solid white;
                text-align: center;

                margin-top: 30px;

                a {
                    display: block;
                }
            }

            .sub-menu {
                height: auto;
                position: relative;  
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                transform: translateY(0);
                opacity: 1;
                left: 0;
                padding: 0;
                margin-left: 30px;
                width: 100%;

                .menu-item {
                    position: relative;
                    &:before {
                        content: " ";
                        position: absolute;
                        left: -5px;
                        top: 50%;
                        transform: translateY(-50%) rotate(-45deg);
                        width: 7px;
                        height: 7px;
                        border-bottom: 1px solid white;
                        border-right: 1px solid white;
                    }
                    &:after {
                        content: " ";
                        position: absolute;
                        left: -11px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 12px;
                        height: 1px;
                        border-bottom: 1px solid white;
                    }
                }

                a {
                    padding-left: 35px;
                }
            }
        //   .menu-item-has-children > a{
        //       color: $color-light-purple;
        //       padding-bottom: 5px;
        //       border-bottom: 1px solid $color-light-purple
        //   }

          .menu {
              width: 100%;
              padding: 0;
            //   padding-top: 100px;
              margin: 0;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              list-style-type: none;
              text-align: left;
          }

          &__mobile {
              display: block;
            // .navigation__container {
            //     padding-top: 21px;
            // }
          }

          .menu-close {
              color: white;
              font-size: 20px;
          }

          &__mobile-logo {
            height: 40px;
        
            img {
              height: 100%;
              max-width: 100%;
              display: inline-block;
            }
          }
      }
  }

//   .navbar {
//     //   padding-top: 0 !important;
//     //   padding-bottom: 0 !important;

//       .container {
//         width: 100%;
//         padding: 0 50px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//       }

//       .navbar-brand  {
//         height: 50px;
    
//         img {
//           height: 100%;
//           max-width: 100%;
//           display: inline-block;
//         }
//       }

//     //   .navbar-collapse {
//     //     flex-grow: initial;
//     //   }
//   }