
.testimonial {
    background-color: #272932;
    color: white;
    padding: 70px 50px 30px;
    margin-bottom: 50px;
  
    .quote-mark{
        text-align: center;

        img {
          width: 90px;
          max-width: 100%;
        }
    }
  
    p {
        padding: 0 !important;
        margin: 0 !important;
    }
  
    blockquote {
      // margin-top: 0;
      margin-top: -5px;
    }

    &-service {
        background-color: transparent;
        color: $color-blue;

        cite {
            color: $color-black !important;
        }
    }
  
    q {
      font-family: "montserrat", sans-serif;
      font-size: 25px;
      font-weight: 300;
      line-height: 1.4;
      &:before, &:after {
        content: ""
      }
    }
  
    cite {
      display: block;
      text-align: right;
      font-size: 20px;
      padding-top: 20px;
      color: $color-light-blue;
      font-style: normal;
    }
  }

  @media screen and (max-width: 1200px) {
    .testimonial {
        q {
            font-size: 20px;
        }
        cite {
            font-size: 18px;
        }
    }
  }

  @media screen and (max-width: 767px) {
    .testimonial {
        padding: 50px 30px 20px;
        q {
            font-size: 19px;
        }
        cite {
            font-size: 16px;
            text-align: left;
            padding-bottom: 15px;
        }

        blockquote {
            margin: 0;
        }
        .quote-mark {
            width: 60px;
        }
    }
  }

  @media screen and (max-width: 550px) {
    .testimonial {
        padding: 30px 30px 20px;
        margin-bottom: 0;
        q {
            font-size: 20px;
        }
        cite {
            font-size: 16px;
        }
        .quote-mark {
            padding-bottom: 20px;
        }
    }
  }